/* GifTastic CSS */


/* body {
   background-image: url("../images/abstract_cirles_background");
   background-repeat: no-repeat;
   background-size: cover;
} */

/* #gifHere {
  column-count: 2;
} */

/* button{

}

div{

}

#gifInput{

} */

/* input{
  margin: 10px;
} */