/* GifTastic CSS */


body {
  background-image: url("../images/abstract_circles_background_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  font-family: 'Kalam', cursive;
}

#newGif {
  font-size: 25px;
  border-radius: 5px;
}

#gifButton {
  padding: 15px;
  margin: 15px;
}

.animal {
  font-size: 25px;
  padding: 10px;
  border: 20px;
  margin: 10px;
  border-radius: 5px;
}

#gifHere {
  resize: auto;
  width: 50px;
  height: 50px;
  padding: 10px;
}

#still-animate {
  font-size: 25px;
}

label {
  font-size: 25px;
}

#gifInput{
  margin: 10px;
  font-size: 25px;
  border-radius: 5px;
}

/* div {
    display:block;
    width:500px;
    margin:30px;
} */

/* #gifs { */
  /* float: left;
  padding: 10px;
  display: block;
  width: 500px;
  margin: 30px; */
  /*  put image grid here to align pulled GIFs */
/* } */

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 20%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* .border-right {
    background-image: url("http://imageshack.us/a/img641/9127/borderbottomt.png"), url("http://imageshack.us/a/img825/9262/borderrighto.png");
    background-position: center bottom, center right;
    background-repeat:no-repeat;
} */

/* .item {
  /* display: block; */
  /* height: 75px; */
  /* width: 100px; */
/* } */

/* .grid-container {
  grid-gap: 50px;
} */